@use "sprucecss/scss/spruce" as *;

@include generate-form-label;
@include generate-form-control(".form-control", true, true, true);
@include generate-form-fieldset;
@include generate-form-group-label;
@include generate-form-group;

.form-row {
	--inline-size: 1px;
	@include layout-flex("s");
	flex-direction: column;
	align-items: flex-end;

	@include breakpoint("md") {
		flex-direction: row;
	}
}

.required-marker {
	color: color("danger", "alert");
}
