@use "sprucecss/scss/spruce" as *;

@include generate-form-label;
@include generate-form-control(".form-control", true, true, true);
@include generate-form-fieldset;
@include generate-form-group-label;
@include generate-form-group;

.form-row {
	--inline-size: 1px;
	@include layout-flex("s");
}

.form-group-stack {
	@include layout-stack("s");

	&--bordered {
		> * + * {
			border-block-start: 1px solid color("border");
			padding-block-start: spacer("s");
		}
	}
}

legend {
	font-family: config("font-family-heading", $typography);
}

.form-control[type="color"] {
	@include set-css-variable(
		(
			--border-radius: spacer-clamp("m", "l"),
		)
	);
}

.required-marker {
	color: color("danger", "alert");
}
