@use "sass:color";
@use "sprucecss/scss/spruce" as *;

.data-table {
	overflow: hidden;
	position: relative;

	&__actions {
		align-items: center;
		display: flex;
		gap: spacer("xs");
		justify-content: end;
	}

	&__no-results {
		text-align: center;
	}

	&__footer {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: spacer("s");
		justify-content: space-between;
		margin-block: spacer("m") spacer("s");

		&-column {
			display: flex;
			flex-wrap: wrap;
			gap: spacer("s");

			> * {
				margin-block: 0;
			}
		}
	}
}

.data-table-filter {
	position: relative;

	&__actions {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: spacer("xs");
	}
}

.sort-btn {
	@include clear-btn;
	align-items: center;
	display: flex;
	gap: spacer("xs");
	white-space: nowrap;

	svg {
		--size: 0.85em;
		block-size: var(--size);
		// color: color("icon", "data-table");
		inline-size: var(--size);
	}
}

.data-table-deleted {
	color: color("danger", "alert");
}
