@forward "config";
@forward "layout";
@forward "components";
@forward "sections";
@forward "helper";

@use "sprucecss/scss/spruce" as *;

:root {
	@include set-css-variable(
		(
			--section-gap: clamp(5rem, 7vw, 7rem),
			--container-gap: spacer-clamp("m", "l"),
			--max-content-inline-size: 70rem,
			--sidebar-inline-size: 18rem,
			--logo-block-size: 3rem,
			--header-block-size: 6rem,
			--box-shadow: 0 0.75rem 1.25rem hsl(0 0% 0% / 5%),
		)
	);
}

body {
	overflow-x: hidden;
}

[x-cloak] {
	visibility: hidden !important;
}
