<div class="app-card app-card--edit">
	<div class="app-card__body">
		<form action="https://forms.border.ventures/app/app/f?id=23" method="post" enctype="multipart/form-data" accept-charset="UTF-8" id="form-app">
			<fieldset class="grid">

				<!-- Heading -->
				<div class="g-col-md-12">
					<h1 class="m-block:0">Tour Request</h1>
				</div>

				<!-- City -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_1">City</label>
						<select id="selectlist_1" name="selectlist_1[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
							<option value="Tijuana" selected>Tijuana</option>
							<option value="Rosarito">Rosarito</option>
							<option value="Tecate">Tecate</option>
							<option value="Ensenada">Ensenada</option>
							<option value="Valle de Guadalupe">Valle de Guadalupe</option>
							<option value="Mexicali">Mexicali</option>
						</select>
					</div>
				</div>

				<!-- Tour Type -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_2">Tour Type</label>
						<select id="selectlist_2" name="selectlist_2[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
							<option value="Cultural" selected>Cultural</option>
							<option value="Aventure">Aventure</option>
						</select>
					</div>
				</div>

				<!-- Tour Theme -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_3">Tour Theme</label>
						<select id="selectlist_3" name="selectlist_3[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
							<option value="City Tour">City Tour</option>
							<option value="Food Tasting">Food Tasting</option>
							<option value="Craft Beer Tasting">Craft Beer Tasting</option>
							<option value="Wine Tasting">Wine Tasting</option>
							<option value="Sightseeing">Sightseeing</option>
							<option value="Art">Art</option>
							<option value="Night Life">Night Life</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>

				<!-- Class -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_4">Class</label>
						<select id="selectlist_4" name="selectlist_4[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
							<option value="Class A">Class A</option>
							<option value="Class B">Class B</option>
							<option value="Intro">Intro</option>
							<option value="Walking">Walking</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>

				<!-- PickUp Location -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_5">PickUp Location</label>
						<select id="selectlist_5" name="selectlist_5[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
						</select>
					</div>
				</div>

				<!-- DropOff Location -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_6">DropOff Location</label>
						<select id="selectlist_6" name="selectlist_6[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
						</select>
					</div>
				</div>

				<!-- Start Date and Time Range -->
				<div class="g-col-md-12">
					<div class="form-group">
						<legend>Start Date and Time Range</legend>
						<div class="form-group--stacked">
							<div class="form-group-label" for="date_1">From:</div>
							<input type="datetime-local" id="date_1" name="date_1" value="" data-alias="" class="form-control">
							<div class="form-group-label" for="date_2">To:</div>
							<input type="datetime-local" id="date_2" name="date_2" value="" data-alias="" class="form-control">
						</div>
					</div>
				</div>

				<!-- Bookings -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="selectlist_bookings">Bookings</label>
						<select id="selectlist_bookings" name="selectlist_bookings[]" data-alias="" class="form-control">
							<option value="Select One">Select One</option>
						</select>
					</div>
				</div>

				<!-- Matrix -->
				<div class="g-col-md-12">
					<div class="form-group">
						<table id="matrix_1" class="table-matrix table table-striped table-hover" data-matrix-type="text">
							<caption>
								<label for="matrix_1" class="form-label">Answer the following questions</label>
							</caption>
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-center">Reference #</th>
									<th class="text-center">Traveler Name</th>
									<th class="text-center"># PAX</th>
									<th class="text-center">Phone</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										<label for="matrix_1_0">Group 1</label>
									</th>
									<td class="text-center matrix_1_q_1 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_0_0" name="matrix_1_0_0" data-label="Group 1 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_1 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_0_1" name="matrix_1_0_1" data-label="Group 1 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_1 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_0_2" name="matrix_1_0_2" data-label="Group 1 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_1 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_0_3" name="matrix_1_0_3" data-label="Group 1 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_1">Group 2</label>
									</th>
									<td class="text-center matrix_1_q_2 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_1_0" name="matrix_1_1_0" data-label="Group 2 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_2 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_1_1" name="matrix_1_1_1" data-label="Group 2 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_2 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_1_2" name="matrix_1_1_2" data-label="Group 2 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_2 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_1_3" name="matrix_1_1_3" data-label="Group 2 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_2">Group 3</label>
									</th>
									<td class="text-center matrix_1_q_3 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_2_0" name="matrix_1_2_0" data-label="Group 3 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_3 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_2_1" name="matrix_1_2_1" data-label="Group 3 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_3 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_2_2" name="matrix_1_2_2" data-label="Group 3 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_3 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_2_3" name="matrix_1_2_3" data-label="Group 3 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_3">Group 4</label>
									</th>
									<td class="text-center matrix_1_q_4 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_3_0" name="matrix_1_3_0" data-label="Group 4 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_4 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_3_1" name="matrix_1_3_1" data-label="Group 4 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_4 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_3_2" name="matrix_1_3_2" data-label="Group 4 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_4 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_3_3" name="matrix_1_3_3" data-label="Group 4 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_4">Group 5</label>
									</th>
									<td class="text-center matrix_1_q_5 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_4_0" name="matrix_1_4_0" data-label="Group 5 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_5 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_4_1" name="matrix_1_4_1" data-label="Group 5 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_5 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_4_2" name="matrix_1_4_2" data-label="Group 5 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_5 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_4_3" name="matrix_1_4_3" data-label="Group 5 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_5">Group 6</label>
									</th>
									<td class="text-center matrix_1_q_6 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_5_0" name="matrix_1_5_0" data-label="Group 6 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_6 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_5_1" name="matrix_1_5_1" data-label="Group 6 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_6 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_5_2" name="matrix_1_5_2" data-label="Group 6 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_6 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_5_3" name="matrix_1_5_3" data-label="Group 6 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_6">Group 7</label>
									</th>
									<td class="text-center matrix_1_q_7 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_6_0" name="matrix_1_6_0" data-label="Group 7 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_7 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_6_1" name="matrix_1_6_1" data-label="Group 7 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_7 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_6_2" name="matrix_1_6_2" data-label="Group 7 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_7 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_6_3" name="matrix_1_6_3" data-label="Group 7 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_7">Group 8</label>
									</th>
									<td class="text-center matrix_1_q_8 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_7_0" name="matrix_1_7_0" data-label="Group 8 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_8 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_7_1" name="matrix_1_7_1" data-label="Group 8 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_8 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_7_2" name="matrix_1_7_2" data-label="Group 8 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_8 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_7_3" name="matrix_1_7_3" data-label="Group 8 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_8">Group 9</label>
									</th>
									<td class="text-center matrix_1_q_9 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_8_0" name="matrix_1_8_0" data-label="Group 9 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_9 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_8_1" name="matrix_1_8_1" data-label="Group 9 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_9 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_8_2" name="matrix_1_8_2" data-label="Group 9 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_9 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_8_3" name="matrix_1_8_3" data-label="Group 9 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
								<tr>
									<th>
										<label for="matrix_1_9">Group 10</label>
									</th>
									<td class="text-center matrix_1_q_10 matrix_1_a_1" title="Reference #">
										<input type="text" id="matrix_1_9_0" name="matrix_1_9_0" data-label="Group 10 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Reference #" class="form-control">

									</td>
									<td class="text-center matrix_1_q_10 matrix_1_a_2" title="Traveler Name">
										<input type="text" id="matrix_1_9_1" name="matrix_1_9_1" data-label="Group 10 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Traveler Name" class="form-control">

									</td>
									<td class="text-center matrix_1_q_10 matrix_1_a_3" title="# PAX">
										<input type="text" id="matrix_1_9_2" name="matrix_1_9_2" data-label="Group 10 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="# PAX" class="form-control">

									</td>
									<td class="text-center matrix_1_q_10 matrix_1_a_4" title="Phone">
										<input type="text" id="matrix_1_9_3" name="matrix_1_9_3" data-label="Group 10 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Phone" class="form-control">

									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

				<!-- Total PAX# -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="number_1">Total PAX #</label>
						<input type="number" id="number_1" name="number_1" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Traveler Budget -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="number_2">Traveler Budget</label>
						<input type="number" id="number_2" name="number_2" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Total Traveler Budget -->
				<div class="g-col-md-12">
					<div class="form-group">
						<label class="form-label" for="number_3">Total Traveler Budget</label>
						<input type="number" id="number_3" name="number_3" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Special Indications -->
				<div class="g-col-md-12">
					<div class="form-group">
						<label class="form-label" for="textarea_1">Special Indications for tour and travelers</label>
						<textarea id="textarea_1" name="textarea_1" rows="3" data-alias="" class="form-control"></textarea>
					</div>
				</div>

				<!-- Local Guide -->
				<div class="g-col-md-12">
					<label class="form-label">Assign Local Guide</label>
					<div class="form-group form-group--horizontal-check">
						<label class="form-check" for="checkbox_1_0">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_0" class="form-check__control" value="Tadeo" data-alias="" data-="true">
							<span class="form-label form-check__label">Tadeo</span>
						</label>
						<label class="form-check" for="checkbox_1_1">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_1" class="form-check__control" value="Alex" data-alias="" data-="true">
							<span class="form-label form-check__label">Alex</span>
						</label>
						<label class="form-check" for="checkbox_1_2">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_2" class="form-check__control" value="Victor" data-alias="" data-="true">
							<span class="form-label form-check__label">Victor</span>
						</label>
						<label class="form-check" for="checkbox_1_3">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_3" class="form-check__control" value="Marisol" data-alias="" data-="true">
							<span class="form-label form-check__label">Marisol</span>
						</label>
						<label class="form-check" for="checkbox_1_4">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_4" class="form-check__control" value="Andres" data-alias="" data-="true">
							<span class="form-label form-check__label">Andres</span>
						</label>
						<label class="form-check" for="checkbox_1_5">
							<input type="checkbox" name="checkbox_1[]" id="checkbox_1_5" class="form-check__control" value="Humberto" data-alias="" data-="true">
							<span class="form-label form-check__label">Humberto</span>
						</label>
					</div>
				</div>

				<!-- Radio -->
				<div class="g-col-md-12">
					<label class="form-label" for="radio_1">Is there any other extra expense, select the reason</label>
					<div class="form-group form-group--horizontal-check">
						<label class="form-check" for="radio_1_0">
							<input type="radio" name="radio_1" id="radio_1_0" class="form-check__control" value="None" data-alias="" data-="true">
							<span class="form-label form-check__label">None</label>
						</label>
						<label class="form-check" for="radio_1_1">
							<input type="radio" name="radio_1" id="radio_1_1" class="form-check__control" value="Training Local Guide" data-alias="" data-="true">
							<span class="form-label form-check__label">Training Local Guide</label>
						</label>
						<label class="form-check" for="radio_1_2">
							<input type="radio" name="radio_1" id="radio_1_2" class="form-check__control" value="Extra Expenses" data-alias="" data-="true">
							<span class="form-label form-check__label">Extra Expenses</label>
						</label>
						<label class="form-check" for="radio_1_3">
							<input type="radio" name="radio_1" id="radio_1_3" class="form-check__control" value="Other" data-alias="" data-="true">
							<span class="form-label form-check__label">Other</label>
						</label>
					</div>
				</div>

				<!-- Number -->
				<div class="g-col-md-12">
					<div class="form-group">
						<label class="form-label" for="number_4">Extra Expenses</label>
						<input type="number" id="number_4" name="number_4" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Number -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="number_6">Total Local Guide 1 Payment</label>
						<input type="number" id="number_6" name="number_6" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Number -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="number_5">Total Local Guide 2 Payment</label>
						<input type="number" id="number_5" name="number_5" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Text Area -->
				<div class="g-col-md-12">
					<div class="form-group">
						<label class="form-label" for="textarea_2">Adjustment Notes</label>
						<textarea id="textarea_2" name="textarea_2" rows="3" data-alias="" class="form-control"></textarea>
					</div>
				</div>

				<!-- Number -->
				<div class="g-col-md-12">
					<div class="form-group">
						<label class="form-label" for="number_8">Total Cost</label>
						<input type="number" id="number_8" name="number_8" value="" data-alias="" class="form-control">
					</div>
				</div>

				<!-- Signature -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="signature_2">Local Guide 1 Signature</label>
						<div class="signature-pad">
							<canvas id="signature_2" width="400" height="200" data-color="White"></canvas>
						</div>

						<div class="signature-pad-actions">
							<button type="button" id="clear_signature_2" name="clear_signature_2" class="btn btn-sm btn-default btn-clear" data-exclude="true">Clear</button>
							<button type="button" id="undo_signature_2" name="undo_signature_2" class="btn btn-sm btn-default btn-undo" data-exclude="true">Undo</button>
						</div>
						<input type="text" style="display: none" name="hidden_signature_2" id="hidden_signature_2" value="" data-alias="" data-label="Local Guide 1 Signature">
					</div>
				</div>

				<!-- Signature -->
				<div class="g-col-md-6">
					<div class="form-group">
						<label class="form-label" for="signature_1">Local Guide 2 Signature</label>
						<div class="signature-pad">
							<canvas id="signature_1" width="400" height="200" data-color="White"></canvas>
						</div>

						<div class="signature-pad-actions">
							<button type="button" id="clear_signature_1" name="clear_signature_1" class="btn btn-sm btn-default btn-clear" data-exclude="true">Clear</button>
							<button type="button" id="undo_signature_1" name="undo_signature_1" class="btn btn-sm btn-default btn-undo" data-exclude="true">Undo</button>
						</div>
						<input type="text" style="display: none" name="hidden_signature_1" id="hidden_signature_1" value="" data-alias="" data-label="Local Guide 2 Signature">
					</div>
				</div>

				<!-- Button -->
				<div class="g-col-md-12">
					<div class="form-action">
						<button type="submit" id="button_1" name="button_1" class="btn btn--primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
