<footer class="app-footer">
    <div class="container">
        <div class="app-footer__inner">
        	<p class="app-footer__copyright">
				{{site.name}} &copy;{{year}}.
				<span>&nbsp;</span>
				Contact us at <a href="mailto:info@ourcompany.com">info@ourcompany.com</a>.
			</p>
        </div>
    </div>
</footer>

