<header class="site-header">
	<div class="container">
		<div class="site-header__inner">
			<div class="site-header__column">
				<a class="site-header__logo" href="{{webRoot}}" aria-label="">
					<img src="@images/logo.svg" alt="logo" class="brand-logo">
				</a>

				<nav class="site-navigation site-header__navigation" aria-label="Site">
					<button
						class="btn btn--primary btn--icon site-navigation__btn"
						data-action="navigation-toggle"
						aria-controls="primary-menu"
						aria-expanded="false"
						aria-label="Menu"
					>
						Menu
					</button>

					{{> menu}}

				</nav>
			</div>
		</div>
	</div>
</header>
