<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{pageTitle}}</title>

	{{! general style }}
	<link href="@styles/index.scss" rel="stylesheet">

	{{! block for page-specific styles }}
	{{#block 'styles'}}{{/block}}

</head>

<body x-data="{sidebarOpen: false}">
	<a class="skip-link" href="#content">Skip to content</a>

	<div class="l-main">
		<div class="l-main__sidebar">
			{{> sidebar}}
		</div>
		<div class="l-main__body" data-item="body">
			{{> header}}

			<main id="content">
				{{! output content block defined in a parent template }}
				{{#block 'content'}}{{/block}}
			</main>

			{{> footer }}
		</div>
	</div>

	{{! general scripts }}
	<script src="@scripts/index.js" defer></script>

	{{! block for page-specific scripts }}
	{{#block 'scripts'}}{{/block}}

</body>

</html>
