<aside class="app-sidebar" @keyup.escape.window="sidebarOpen = false" x-trap.noscroll="sidebarOpen">
	<div class="app-sidebar__header">
		{{> logo className="app-sidebar__logo" }}
		<div class="app-sidebar__search">

		</div>
		<button class="btn btn--outline-dark btn--sm btn--icon display--none:md" aria-label="Close navigation">
			<img src="@images/icons/close.svg" class="btn__icon">
		</button>
	</div>
	<div class="app-sidebar__body">
		<div class="block-navigation">
			<h3 class="block-navigation__title">
				{{!-- {{ block.title }} --}}
				<button class="btn btn--light btn--sm btn--icon block-navigation__toggle" aria-label="Toggle navigation">
					{{!-- {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %} --}}
				</button>
			</h3>
			{{> menu currentPageUrl=currentPageUrl }}
		</div>
	</div>
</aside>
