<aside class="app-sidebar">
	<div class="app-sidebar__header">
		<a class="app-sidebar__logo" href="{{webRoot}}" aria-label="">
			<img src="@images/logo.svg" alt="logo" class="brand-logo">
		</a>
		<div class="app-sidebar__search">

		</div>
		<button aria-label="Close navigation" class="btn btn--outline-dark btn--sm btn--icon display--none:md">

		</button>
	</div>
	<div class="app-sidebar__body">
		<div class="block-navigation">
			<h3 class="block-navigation__title">
				{{!-- {{ block.title }} --}}
				<button class="btn btn--light btn--sm btn--icon block-navigation__toggle" aria-label="Toggle navigation">
					{{!-- {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %} --}}
				</button>
			</h3>
			{{#if pages}}
			<nav class="block-navigation__menu block-navigation__menu--breakout">
				<ul class="navigation-menu">
					{{#each pages}}
						<li>
							<a href="{{url}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			</nav>
			{{/if}}
		</div>
	</div>
</aside>
